:root {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  color: #daffe7;
  background-color: #002e00;
}

html {
  display: flex;
}

body {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

#app {
  display: flex;
  flex-grow: 1;
  float: left;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 50em;
  text-align: justify;
  margin: 2em auto;
}

h1 {
  text-align: center;
}

a {
  color: #5865f2;
}
