:root {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2em;
  color: #daffe7;
  background-color: #002e00;
}

h1, h2 {
  font-family: 'Quicksand-Bold', sans-serif;
}

html {
  display: flex;
}

body {
  display: flex;
  flex-grow: 1;
  margin: 0;
}

#app {
  display: flex;
  flex-grow: 1;
  float: left;
  overflow: hidden;
  position: relative;
}

.container {
  max-width: 50em;
  text-align: justify;
  margin: 3em auto;
}

h1 {
  text-align: center;
}

a {
  color: #5865f2;
}

.selected {
  color: #aeffcd !important;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Quicksand/Quicksand-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('./assets/Quicksand/Quicksand-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Silkscreen';
  src: url('./assets/Silkscreen/Silkscreen-Regular.ttf') format('truetype');
}
